@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
    font-family: 'Ubuntu', sans-serif;
}

/* h1 {
    color: #673ab7;
    text-align: center;
} */


body {
    background-color: white;
}


ul li a {
    margin: 10px;
    transition: all 0, 3s ease;
}

ul li a:hover {
    color: #0ba6ff !important;
}

.b-example-divider {
    height: 48px;
}

.fondo {
    background-image: url(../img/corazonportada.jpg);
    height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* .hero {
    width: 100%;
    height: calc(100vh - 10rem);
    position: relative;
    ******** display: grid;
    grid-template-areas: 
    "img h2 h2 h2"
    "img p p p"
    "img p p p" *********
} */

/* .hero h2 {
    margin-bottom: 10px;
    font-size: 40px;
    font-weight: 500;
}

.hero h2 span {
font-weight: 700;
position: relative;
padding: 0,5px;
}

.hero h2 span::before {
    content: "";
    background-color: #1183ca;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    border-radius: 4px;
    height: 30%;
    z-index: -1;
} */


/* header ul li {
    display: inline-block;
    margin: 20px;
}

nav ul li a {
    display: inline-block;
    margin: 20px;
    color: #673ab7;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border: black 1px dotted;
    position: relative;
    /* Lo acomode con position porque sino quedaba en cualquier lado. No se si hay  otra forma de hacerlo sin usar flexfox o grid */
   


#encabezado {
    border: solid black 4px;
    background-color: white;
    padding: 10px;
    height: 200px;

}
.logo {
    width: 100px;
    height: 100px;
}


/* MAIN */

.textos {
    text-align: justify;
    font-size: 20 px;
    margin: 30px;

}

section ul {
    border: 1px black solid;
    height: auto;
    width: fit-content;
    padding: 30px;
    font-size: larger;
    font-weight: bolder;
}



.divPrincipal {
    text-align: center;
}


.cursos {
    border: black solid 2px;
    text-align: center;
    margin: 10px;
    padding: 10px;
}

.contacto {
    /* border: black solid 2px; */
    height: auto;
    width: fit-content;
    padding: 30px;

}

.contenedor {
    display: grid;
    grid-template-areas:
        "div form"
}

.carousel-item img {
  width: auto;
  height: 450px;
  max-height: 450px;
}

/* FOOTER */

footer {
    border: 1px solid black;
    text-align: center;
}

footer ul li {
    list-style-type: none;
}

footer ul li a {
    color: red;
    text-decoration: none;
}

form {
    text-align: center;
}