@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-color: white;
}

/* botones header */

ul li a {
    margin: 10px;
    transition: all 0.3s ease;
}

ul li a:hover {
    color: #0ba6ff !important;
}

/* .encabezado {
    border: black inset 2px;
} */


/* para dejar espacios entre secciones, como venia al final del header de BS lo fui copiando en las secciones de abajo */
.b-example-divider {
    height: 48px;
}


h1 {
    text-align: center;
    color: #e53935 ;
} 

h2 {
    text-align: center;
}


hero {
    width: 100%;
    height: calc(100vh - 10rem);
    position: relative;
}

.logo {
    width: 100px;
}


section ul {
    border: 1px black solid;
    border-radius: 3px;
    height: auto;
    width: fit-content;
    padding: 30px;
    font-size: larger;
    font-weight: bolder;
    list-style-type: none;
}

.informacionCursos {
    text-align: center;
    font-size: 30px;
}


.cursos {
    border: black solid 2px;
    text-align: center;
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    background-color: #3498db;
    border-radius: 5px;
    color: black;
    font-size: 20px;
    transition: all 0.3s ease;
    width: 120px;
}

.cursos:hover {
background-color: #aed6f1;
}



.carousel-item img {
    width: auto;
    height: 450px;
    max-height: 450px;
}

/* FOOTER */

footer {
    border-top: 1px solid black;
    text-align: center;
    padding: 20px;
}

footer ul li {
    list-style-type: none;
}

footer ul li a {
    color: red;
    text-decoration: none;
}